<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1 id="load1"></h1>
	<p>Welcome to <%= title %></p>
	<button onclick="load1()">load1-1click</button>
	<script>


	function load1() {
		console.log("hello")
fetch('http://localhost:4000/api/v1/load1')
  .then(response => response.json())
  .then(json => document.getElementById('load1').innerHTML = json)

	}
     



</script>
</body>
</html>
